div {
    background-image: url();
}

#video-bg {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1; 
}
p{
    color:  rgb(255, 0, 0);
    font-family: 'Open Sans', sans-serif;  
}